.forgotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    margin-top: 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    margin-top: 10px;
  }
  
  .sending {
    margin-top: 10px;
  }
  
  .link {
    margin-top: 20px;
    text-align: center;
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #000;
  }
  